<% title ("Schedule Log") %>

<h2 class="title">Confirmation</h2>

Are you sure you wish to park the telescope?

<% form_tag "/telescope/park", :method => "get", :class => "form" do %>
    <%= submit_tag "Park", :name => nil, :class => "button" %> or <%= link_to 'Cancel', :back %>
<% end %><br />

Note: once parked, the telescope must be manually shut off and cannot be unparked remotely.