/* Override here any style defined by web-app-theme */

.link_button {
  background: #cfcfcf;
  -moz-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  color: #36393d;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
}

ul li {
  background-position: 50px;
  margin-right: 5px;
  padding-left: 14px; 
}