<tr class="<%= cycle("odd", "even") %>">
  <td>
    <%= schedule.start_time.strftime("%b %d, %Y") %>
  </td>
  <td class="last">
    <%= link_to schedule.start_time.strftime("%I:%M %p"), schedule_path(schedule) %>
  </td>
</tr> 