<% title "Login" %>

<% form_for @user_session, :html => { :class => :form } do |form| %>
	<ul class="edit rounded">
		<li>Login</li>
    	<li><%= form.text_field :username, :placeholder => "Username" %></li>
    	<li><%= form.password_field :password, :placeholder => "Password" %></li>
    </ul>
    <%= link_to "Submit", 'javascript:document.forms[0].submit(); ', :class=>"submit whiteButton" %>
<% end %>
