<div class="group">
  <%= f.error_messages %>
</div>

<div class="group">
  <%= f.label :image, "Upload Image", :class => :label %>
  <%= f.file_field :image, :class => 'file_field' %><br />
  <span class="description">Select a file to upload.</span>
</div>


<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', :back %>
</div>