<% title ("Image Gallery") %>
<ul class="rounded">
	<li>All Images for <%= Schedule.find(params[:schedule_id]).start_time.strftime("%B %d, %Y - %I:%M:%S %p") %></li>
</ul>

<% @images.each do |image| -%>
    <ul class="rounded">
      <li class="forward">
        <%= link_to image.image_updated_at.strftime("%I:%M:%S %p"), image.image.url %>
      </li>
      <li>
        <%= link_to image_tag(image.image.url(:thumb)), image.image.url %>
      </li>
    </ul>
<% end -%>