<% title ("About") %>

<div class="block">
  <div class="content">
    <h2 class="title">About Stargazer</h2>
    <div class="inner">
      <p>Stargazer is an automatic telescope control system. It enables users to remotely control the telescope via this web application using only a web browser. Thus, Stargazer is being developed in an attempt to alleviate the inefficiencies in manually positioning the telescope and processing the images taken by the camera. Through the automated nature of Stargazer, less time can be spent on menial tasks. </p>
    </div>
  </div>
</div>