<% title ("Online Help - Viewing the Image Gallery") %>

<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'Online Help', :controller => :info, :action => :help %></li>
      <li class="active"><%= link_to 'Image Gallery', :controller => :info, :action => :gallery %></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">Image Gallery</h2>
    <div class="inner">
      <%= image_tag "online_help/Step4_ViewImages.jpg", :class => :border %><br /><br />
      While a user is viewing the full details for a schedule (see viewing the telescope scheduling and positioning log) a user can view any images that have been captured for that schedule set.
      To do this the user can click on the List Images tab at the top of the schedule details. This will list thumbnail versions of any images that have been captured. <br /><br />
      <%= image_tag "online_help/Step4_ViewLarger.jpg", :class => :border %><br /><br />
      Clicking on the image file name or the show link for any image will show the details of the image and clicking on the thumbnail image will show the full size image.<br />
      <br />
    </div>
  </div>
</div>