<% title ("About") %>

<ul class="rounded">
	<li>About Stargazer:</li>
</ul>

<ul class="rounded">
	<li>Stargazer is an automatic telescope control system.</li>
	<li>It enables users to remotely control the telescope via this web application using only a web browser.</li>
	<li>Stargazer alleviates the inefficiencies in manually positioning the telescope and capturing images with a camera.</li>
	<li>Through the automated nature of Stargazer, less time can be spent on menial tasks.</li>
</ul>