<% title ("About") %>

<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'About', :controller => :info, :action => :index %></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">About Stargazer</h2>
    <div class="inner">
      <p>Stargazer is an automatic telescope control system.
        It enables users to remotely control the telescope via this web application using only a web browser. 
        Thus, Stargazer is being developed in an attempt to alleviate the inefficiencies in manually positioning the telescope and processing the images taken by the camera.
        Through the automated nature of Stargazer, less time can be spent on menial tasks. </p>

      <h3>Goal:</h3>
      The goal of Stargazer is to automate the processes of:
      <ul class="list">
          <li class="left">Positioning the telescope to a certain location in the sky at a certain time of day.</li>
          <li class="left">Take many photographs of that area and merge them to become a composite, high resolution image.</li>
          <li class="left">Compare the image with previous images of the same area.</li>
      </ul>
      Also, if any new, unidentified objects are found, then the system will notify the operator.<br /><br />
      Moreover, the system will authenticate users to prevent unauthorized access.
    </div>
  </div>
</div>