<% title ("Online Help - Logging In") %>

<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'Online Help', :controller => :info, :action => :help %></li>
      <li class="active"><%= link_to 'Logging In', :controller => :info, :action => :login %></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">Logging In</h2>
    <div class="inner">
      <%= image_tag "online_help/Step1_Login.jpg", :class => :border %><br /><br />
      First, the user must enter their user name and password.
      The user name is assigned to a user by an administrator.
      <br />
    </div>
  </div>
</div>